
html, body

{
	background-color: #040308;
}



.container-fluid
	{
		/*background-color: red; */
	}


.no-gutters 
	{
	  margin-right: 0;
	  margin-left: 0;
	}

/* Visualiser ma construction */
div
	{
		/*border:1px black solid;*/
	}
/* Fin */


.logoimage

	{
		background-color: #212529;
		background-image: url(../../images/cocoatree-chocolat.png);
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
		height: 100px;
		width: 100px;
	}


header
	{

		/*display: flex; */

	}

/* NAV */
.row nav
	{
		color: white;
		height: 100px;
		line-height: 100px;
		margin: 0px;
		padding: 0px;
	}

.custom-toggler.navbar-toggler 
	{
  	border-color: rgb(255,102,203);
	}	 

#navbarNavAltMarkup a
	{
		color: white;
	}

.navbar-expand-lg
	{
		background-color: #212529;
		margin: 0px;
		padding: 0px;
	}

/* FIN NAV */

.jumbotron
	{
		
		height: 70%;
		background-image: url("../../images/bg.jpg");
		
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
	}

.banner /* Contenu central */
	{
		color: white;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
		font-family: 'Open Sans', sans-serif;
	}


/* ACCUEIL */
.containerNewsInfo
	{
		background-color: white;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: -100px;
		margin-bottom: 100px;
		padding: 20px;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	}

/* Elements communs*/

h1
	{
	font-family: Pacifico;
	font-size: 3em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	}

h2
	{
	font-size: 1.5em;
	}

hr 
	{
		border-top: 1px dashed #212529;
	}

.pacifico

	{
	font-family: Pacifico;
	font-size: 2em;
	text-align: center;
	}


p
	{
		font-family: 'Open Sans', sans-serif;
	}



.ombre
	{
		box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.50);
	}


/* ACCEUIL */

.restoInfo
	{
		padding: 5px;
		width: 300px;
	}

.infotext p, .infotext
	
	{
		background-color: white;
		padding: 10px;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
	}



/* FOOTER */

footer
	{

		background-color: #212529;
		color: white;
		height: 50px;
		line-height: 50px;
	}


/* CONTACT */

.contact
	{
		background-color: white;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: -200px;
		margin-bottom: 100px;
		padding: 20px;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	}

	.colorbtn
	{

		background-color: #7c586f;
		border-radius: 6px;
  		border: 1px solid #282b4c;
  		padding-right: 18px;
  		padding-bottom: 2px;
  		padding-left: 18px;
  		padding-top: 2px;
  		color: white;
  		font-weight: bold;

	}