
html, body

{
	background-color: #040308;
	font-family: 'Open Sans', sans-serif;
}



.container-fluid
	{
		/*background-color: red; */
	}


.no-gutters 
	{
	  margin-right: 0;
	  margin-left: 0;
	}

/* Visualiser ma construction */
div
	{
		/*border:1px black solid;*/
	}
/* Fin */


.logoimage

	{
		background-color: #212529;
		background-image: url(../../images/cocoatree-chocolat.png);
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
		height: 100px;
		width: 100px;
	}


header
	{

		/*display: flex; */

	}

/* NAV */
.row nav
	{
		color: white;
		height: 100px;
		line-height: 100px;
		margin: 0px;
		padding: 0px;
	}

.custom-toggler.navbar-toggler 
	{
  	border-color: rgb(255,102,203);
	}	 

#navbarNavAltMarkup a
	{
		color: white;
	}

.navbar-expand-lg
	{
		background-color: #212529;
		margin: 0px;
		padding: 0px;
	}

/* FIN NAV */

.jumbotron
	{
		
		height: 70%;
		background-image: url("../../images/bg.jpg");
		
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
	}

.banner /* Contenu central */
	{
		color: white;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
		font-family: 'Open Sans', sans-serif;
	}


/* ACCUEIL */
.containerNewsInfo
	{
		background-color: white;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: -100px;
		margin-bottom: 100px;
		padding: 20px;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	}

/* Elements communs*/

h1
	{
	font-family: Pacifico;
	font-size: 3em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	}

h2
	{
	font-size: 1.5em;
	}

hr 
	{
		border-top: 1px dashed #212529;
	}

.pacifico

	{
	font-family: Pacifico;
	font-size: 2em;
	text-align: center;
	}


p
	{
		font-family: 'Open Sans', sans-serif;
	}


.nav-item
{
	margin-left: 10px;
}



.ombre
	{
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	}


/* ACCEUIL */

.restoInfo
	{
		padding: 5px;
		width: 300px;
	}

.infotext p, .infotext
	
	{
		background-color: white;
		padding: 10px;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
	}



/* FOOTER */

footer
	{

		background-color: #212529;
		color: white;
		height: 50px;
		line-height: 50px;
	}


/* CONTACT */

.contact
	{
		background-color: white;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: -200px;
		margin-bottom: 100px;
		padding: 20px;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	}

	.colorbtn
	{

		background-color: #7c586f;
		border-radius: 6px;
  		border: 1px solid #282b4c;
  		padding-right: 18px;
  		padding-bottom: 2px;
  		padding-left: 18px;
  		padding-top: 2px;
  		color: white;
  		font-weight: bold;

	}


	/* ABOUT */
	{
		background-color: white;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: -500px;
		margin-bottom: 100px;
		padding: 20px;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	}


	.map-container
		{
			overflow:hidden;
			padding-bottom:56.25%;
			position:relative;
			height:0;
		}

	.map-container iframe

		{
			left:0;
			top:0;
			height:100%;
			width:100%;
			position:absolute;
		}


	/* ABOUT */
.containerAbout
	{
		background-color: white;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 50px;
		margin-bottom: 100px;
		padding: 20px;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	}

	#background
	{

		height: 100%;
		background-image: url("../../images/bg.jpg");
		
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;

	}

.divHoraire
	{
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}


.horaire
	{
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
		text-align: center;
		color: white;
		padding: 5px;
	}


.borderLR
{

	border-right: 1px white dashed;
	border-left: 1px white dashed;
}


.marginLR

	{
		margin-left: 10%;
		margin-right: 10%;
	}


.h3About

	{
		margin-top: 100px;
		color: white;
	
	}


h5
		{
			font-family: Pacifico;
			font-size: 17px;
			margin: 0;

		}

/* MENU */
.backgroundMenu
	{
		height: 100%;
		background-image: url("../../images/menu.jpg");
		
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
	}


.containerMenu
	{
		background-color: white;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 50px;
		margin-bottom: 100px;
		padding: 20px;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
	}

.textMenu
	{
		color: white;
		padding: 10px;
	}

.imageMenu
	{
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
		border: 10px white solid;
	}

h4.textMenu
	{
		color: #040308;
		text-align: center;
		background-color: white;
		font-family: Pacifico;
	}

.espace
	{
		height: 40px;
	}

/* NAVIGATION GALERIE */


.navigationGalerie
	{
		height: 40px;
		margin-top: 30px;
		justify-content: center;

	}

.white 

	{
		color: white;
	}


.img-thumbnail

	{
		border: 10px white solid;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	}

.page-link

	{
		color: #212529;
		border: 1px solid #212529;
	}


.navbar-expand-lg .navbar-nav .nav-link

{
	margin-right: 1em;
}
